<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
	<!-- Denies Access to aspx files in this folder for IIS 6 -->
	<!-- Non aspx files are not handled by the ASP.net scripting engine and will be served -->
   <system.web>  
     <authorization>  
       <deny users="*" />  
     </authorization>  
   </system.web>
   
   <!-- Denies Access to all files in this folder for IIS 7 -->
   
    <system.webServer>
        <security>
            <authorization>
                <remove users="*"/>
            </authorization>
        </security>
    </system.webServer>  
</configuration>